body * {
    outline: 1px solid lightgrey;
}
  
.wrapper {
    background-image: url("./img/background.jpg");
    
}    
.container {
    max-width: 1165px;
    margin: 0 auto;
}

.header {        
    background-color: rgba(247, 247, 247, 1);
    display: flex;
    justify-content: space-between;
    padding: 58px 120px;
    margin-bottom: 65px;
    
}

.social a {
    margin-right: 34px;    
}

.logo {    
    font-size: 20px;    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 31px;
}

.img {
    position: relative;
    
    img {
        max-width: 100%;
        max-height: 100%;
    }

    .img_toolbar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;        
        flex-direction: column;
        justify-content: space-between;
        
        &-top {
            background-color: rgba(0, 255, 255, 0.415);
        }

        &-bottom {
            background-color: rgba(0, 255, 255, 0.415);
        }
    }    
}

.img:hover .img_toolbar {
    display: flex;    
}


.hero {
    background-color: rgb(243, 245, 243);
    display: flex;
    flex-direction: column;    
    padding: 74px 20%;
    margin-bottom: 65px;
    

    &_header {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        
    }

    &_text {
        font-size: 14px;
        text-align: center;
        margin-bottom: 50px;
    }

    &_btn {        
        text-align: center;

        & button {
            font-size: 14px;
            color: rgba(255, 255, 255, 1);
            background-color: rgba(42, 42, 42, 1);
            padding: 17px 23px 15px 23px;
        }
    }
} 


.blog {
    display: flex;
    justify-content: space-between;
       
}

.blog_post {
    display: flex;
    flex-direction: column;
    width: 70%;
}    



.post {
    display: flex;
    flex-direction: row;    
    background-color: rgb(243, 245, 243);

    &_hero {
    display: flex;
    flex-direction: column;

        &-header {
            display: flex;
            justify-content: space-between;
        }

        &-title {

        }

        &-content {
            display: flex;
        }
    }
 
}
.post:first-child{
    margin-bottom: 40px;
}

.header-name {
    display: flex;
    flex-direction: row;
    
}

.content_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.post_contact {
    display: flex;
    flex-direction: column;

    &-name {

    }

    &-social {
        display: flex;
        flex-direction: column;
    }

    &-picture {
        display: block;
        position: relative;
    
    }
}

.contact_menu {
    display: none;   
    position: absolute;
    background-color: rgba(26, 30, 30, 0.469);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0% 50%);    
    img {
        padding: 5px 3px;
    }

}

.post_contact-picture:hover .contact_menu {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    left: 50px;
    top: 25%;
}



.blog_selection {    
    
}
.blog_selection-list { 
    list-style-image: url("./img/blog/icon-list.svg");         
    
}

.blog_selection-list li>a {
    color: red;
    display: none;
}



.blog_selection-list>li:hover a {
    display: block;
}

.blog_selection-list>li:hover .blog_selection-list::marker {
   
}

.other_news {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.contact {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 45%;

    &-title {
        padding-top: 20px;
    }

    &-header {
        padding-top: 20px;
    }

    &-form {
        padding-top: 20px;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.other {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.random_post {    
    display: flex;
    justify-content: space-between;

    &-one{
        background-color: rgb(255, 255, 255);
    }
}
.footer {
    background-color: rgba(42, 42, 42, 1);
    display: flex;
    justify-content: space-between;
    padding: 58px 120px;    
}